.badge {
    padding: .25em .5em;
    font-size: 55%;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: $grey-color;
    line-height: 1;
    font-weight: 500;
    position: relative;
    top: -.2em;
}

.publication {
    margin-bottom: 2rem;

    h3 {
        margin-bottom: 0px;        
    }
}

.calm {
    opacity: .5;

    a {
        color: black;
    }
}

.extra-links {
    a {
        margin-right: .5rem;
    }
}
