<div class="publication">
    <h3><b>
        {% if pub.url %}<a class="black" href="{{ pub.url }}" target="_blank">{% endif %}
        {{ pub.title }}
        {% if pub.url %}</a>{% endif %}
        <small class="badge">{{ pub.type }}</small>
    </b></h3>
    <div class="authors">
        {% for author in pub.authors %}
            {% if pub.authors.length > 1 and forloop.last %} and {% endif %}
                {% if author == "Jaeyoon Song" %}<i>{{ author }}</i>
                {% else %}{{ author }}
                {% endif %}
            {% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </div>

    {% if pub.proc %}
    <div class="proc calm">
        {%- if pub.proc.abbr -%} {{ pub.proc.abbr }}
        {% else %} {{ pub.proc.title }}
        {% endif -%},

        pp. {{ pub.proc.page }}, {{ pub.proc.venue }}, {{ pub.year | escape }}.
    </div>
    {% endif %}

    {% if pub.journal %}
    <div class="journal calm">
        {%- if pub.journal.abbr -%} {{ pub.journal.abbr }}
        {% else %} {{ pub.journal.title }}
        {% endif -%},

        {% if pub.journal.ea -%}to appear{% else -%}vol. {{ pub.journal.volume}}, no. {{ pub.journal.issue }}, pp. {{ pub.journal.page }}{% endif %}, {{ pub.year }}.
    </div>
    {% endif %}

    {% if pub.poster %}
    <div class="poster calm">
        {%- if pub.poster.abbr -%} {{ pub.poster.abbr }}
        {% else %} {{ pub.poster.title }}
        {% endif -%}, 
        
        Extended Abstracts (Late Breaking Work).
    </div>
    {% endif %}

    {% if pub.type == 'Patent' %}
    <div class="calm">
        {{ pub.year | escape }}.
    </div>
    {% endif %}
    
    {% assign proj2 = site.data.projects.projects | where: "id", pub.id %}
    {% assign proj = proj2[0] %}
    {% include extra_links.html proj=proj %}
</div>